html {
  font-size: 62.5%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: #167DA6 url("../img/data.jpg") no-repeat fixed left bottom;
  background-size: cover;
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  font-family: "Lato", sans-serif;
  position: relative;
}

@media (max-width: 1024px) {
  body {
    background-image: none;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 1.3rem;
  }
}

#particles-js {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  z-index: -10;
}

.header {
  padding: 170px 30px 80px;
  color: #117DBF;
}

@media (max-width: 768px) {
  .header {
    padding-top: 60px;
  }
}

.site-title-sub {
  margin: 0 0 30px;
  letter-spacing: 1px;
  font-size: 2.2rem;
  text-shadow: 1px 1px 10px white;
}

.site-title-sub::before, .site-title-sub::after {
  content: '';
  display: inline-block;
  width: 140px;
  height: 2px;
  margin: 0 30px;
  background-color: #117DBF;
  vertical-align: middle;
}

@media (max-width: 768px) {
  .site-title-sub::before, .site-title-sub::after {
    display: block;
    width: 80%;
    margin: 10px auto;
    background-color: #fff;
  }
}

@media (max-width: 768px) {
  .site-title-sub {
    font-size: 1.7rem;
    color: #fff;
  }
}

.site-title {
  margin: 50px 0 40px;
  font-size: 7.6rem;
  text-shadow: 1px 1px 10px white;
}

@media (max-width: 768px) {
  .site-title {
    font-size: 5rem;
    margin-top: 35px;
    color: #fff;
  }
}

.site-desc {
  margin-bottom: 50px;
  color: #3F7E8C;
  font-size: 1.6rem;
}

.buttons, .button {
  margin: 10px;
}

.button {
  display: inline-block;
  width: 200px;
  padding: 20px;
  border-radius: 4px;
  background-color: #afa58d;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 1.2rem;
}

.button:hover {
  opacity: 0.9;
}

.buttons {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

.button-showy {
  display: inline-block;
  width: 200px;
  padding: 20px;
  border-radius: 4px;
  background-color: #f1b400;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 1.2rem;
}

.button-showy:hover {
  opacity: 0.9;
}

.spbr {
  display: none;
}

@media (max-width: 768px) {
  .spbr {
    display: block;
  }
}

.about {
  padding: 80px 30px;
  background-color: #167DA6;
  color: #fff;
}

.heading {
  display: inline-block;
  padding-bottom: 15px;
  margin: 30px 0 15px;
  letter-spacing: 2px;
  font-size: 4rem;
  position: relative;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

.heading::before {
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  bottom: 5px;
  border-bottom: 1px solid #999;
}

.heading::after {
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  border-bottom: 1px solid #999;
}

@media (max-width: 768px) {
  .heading {
    font-size: 2.5rem;
  }
}

.about-text {
  margin: 30px;
  line-height: 2.5;
  font-size: 1.6rem;
}

@media (max-width: 768px) {
  .about-text {
    line-height: 1.8;
  }
}

.works {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 80px 0;
}

.card {
  margin-top: 3rem;
  background-color: #167DA6;
  padding: 1rem;
}

.card:hover .card-img-top {
  transform: scale(1.2);
}

.card-title {
  margin: 1rem;
  font-size: 2rem;
}

.card-subtitle {
  margin-bottom: 2rem;
}

.card-img-top {
  width: 75%;
  margin: 0 auto;
  transition: transform 0.3s;
}

.link {
  color: pink;
  text-decoration: none;
}

.link:hover, .link:active, .link:focus {
  color: #f2f2f2;
}

.skills {
  padding: 80px 0;
  background-color: #167DA6;
  color: #fff;
}

.skill-wrapper {
  display: table;
  width: 80%;
  margin: 50px auto 0;
  table-layout: fixed;
}

@media (max-width: 768px) {
  .skill-wrapper {
    display: block;
  }
}

.skill-box {
  display: table-cell;
}

@media (max-width: 768px) {
  .skill-box {
    display: block;
    margin: 40px auto;
  }
  .skill-box .skill-text {
    margin: 0;
  }
}

.skill-icon {
  width: 150px;
  height: 150px;
  margin-bottom: 30px;
  border: 4px solid;
  border-radius: 50%;
  color: #fff;
  font-size: 8rem;
  line-height: 142px;
}

@media (max-width: 768px) {
  .skill-icon {
    width: 100px;
    height: 100px;
    font-size: 5rem;
    line-height: 92px;
  }
}

.service {
  background-color: #167DA6;
  padding: 80px 0;
}

@media (max-width: 768px) {
  .service {
    padding-top: 0;
  }
}

.service h4 {
  font-size: 2.5rem;
}

.service-box {
  margin-top: 3rem;
  padding: 1rem;
}

.table {
  color: #f2f2f2;
  font-size: 2rem;
}

.fa-laptop-code {
  font-size: 13rem;
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.contact {
  padding: 80px 0 150px;
  color: black;
}

@media (max-width: 768px) {
  .contact {
    padding-top: 0;
  }
}

.contact .heading {
  position: relative;
}

.contact .heading::before, .contact .heading::after {
  top: initial;
  bottom: initial;
  right: initial;
  left: initial;
  position: initial;
}

.contact .heading::before {
  content: '';
  width: 12px;
  height: 12px;
  border: 1px solid #3F7E8C;
  display: inline-block;
  margin: 0 20px;
  vertical-align: 2px;
  transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}

.contact .heading::after {
  content: '';
  width: 12px;
  height: 12px;
  border: 1px solid #3F7E8C;
  display: inline-block;
  margin: 0 20px;
  vertical-align: 2px;
  transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}

@media (max-width: 768px) {
  .contact .heading::before {
    content: '';
    width: 8px;
    height: 8px;
    border: 1px solid black;
    display: inline-block;
    margin: 0 20px;
    vertical-align: 2px;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
  }
  .contact .heading::after {
    content: '';
    width: 8px;
    height: 8px;
    border: 1px solid black;
    display: inline-block;
    margin: 0 20px;
    vertical-align: 2px;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
  }
}

@media (max-width: 768px) {
  .contact {
    padding-bottom: 80px;
  }
}

.contact-form {
  width: 50%;
  margin: 50px auto 0;
}

.contact-form input[type=text], .contact-form textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
  outline: none;
}

.contact-form input[type=text]:focus, .contact-form textarea:focus {
  box-shadow: 0 0 8px #117dbf inset;
}

.contact-form textarea {
  height: 150px;
}

.contact-form input[type=submit] {
  display: block;
  width: 200px;
  margin: 40px auto 0;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  background-color: #117dbf;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-form input[type=submit]:hover {
  background-color: rgba(17, 125, 191, 0.7);
}

@media (max-width: 768px) {
  .contact-form {
    width: 80%;
  }
}

.contact-form ::-webkit-input-placeholder {
  color: rgba(17, 125, 191, 0.8);
  opacity: 1;
}

.footer {
  padding: 12px 0;
  font-size: 1.3rem;
  background-color: #117DBF;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.fa-twitter {
  color: white;
  font-size: 2.5rem;
  transition: opacity 0.3s;
}

.fa-twitter:hover {
  opacity: 0.5;
}
