@charset 'UTF-8';

//幅関係の設定


//フォント関係の設定
$font-size: 62.5%;
$font-family: "Hiragino Kaku Gothic ProN",Meiryo,sans-serif;
$MPLUS: 'M PLUS Rounded 1c', sans-serif;
$Lato: 'Lato', sans-serif;

//色関係の設定
$white: #f2f2f2;
$paleblue: #1FBFBF;
$mossblue: #3F7E8C;
$heavyblue: #167DA6;
$blue: #117DBF;
$font-white: #fff;

//ブレイクポイント
$sp: 768px;
$tablet: 1024px;

//余白調整
$spaceClass: false !default;
$spacePsdding: false !default;
$endValue: 40 !default;

//プレフィックス
$set-prefix: '',-moz-,-webkit-,-ms-;